<header>
  @if (departureInfo().source) {
    <h1>
      აირჩიეთ მატარებელი <br> {{ departureInfo().source }}დან
      {{ departureInfo().destination }}ს მიმართულებით
    </h1>
  }
</header>

<section>
  <div style="margin: 20px 0;" class="headLine">
    <h2>მატარებლების სია</h2>
  </div>
  <div class="listhead">
    <h2>მარშრუტი</h2>
    <h2>გამგზავრება</h2>
    <h2>ჩასვლა</h2>
    <h2></h2>
  </div>
  @for (item of departureTrains(); track $index) {
    <div class="list">
      <div class="field">
        <span class="num">N-{{ item.number }}</span>
        <span>{{ item.name }}</span>
      </div>
      <div class="field">
        <span>{{ item.departure }}</span>
        <span>{{ item.from }}</span>
      </div>
      <div class="field">
        <span>{{ item.arrive }}</span>
        <span>{{ item.to }}</span>
      </div>
      <button (click)="gotoReserve(item)">დაჯავშნა</button>
    </div>
  }
</section>
