<div class="filterForm">
  <div class="field">
    <i class="fa-solid fa-right-from-bracket"></i>
    <select required [(ngModel)]="cityFrom">
      <option value="">From</option>
      @for (item of stations; track $index) {
      <option [value]="item.name">{{ item.name }}</option>
      }
    </select>
  </div>
  <div class="field">
    <i class="fa-solid fa-location-dot"></i>
    <select required [(ngModel)]="cityTo">
      <option value="">To</option>
      @for (item of stations; track $index) {
      <option [value]="item.name">{{ item.name }}</option>
      }
    </select>
  </div>
  <div class="field">
    <i class="fa-solid fa-calendar-days"></i>
    <input type="date" [(ngModel)]="dateDeparture" />
  </div>
  <div class="field">
    <i class="fa-solid fa-users-line"></i>
    <select>
      <option value="">Passengers</option>
    </select>
  </div>
  <button (click)="filterDepartures()">Search Trains</button>
</div>
